.visita {
    position: relative;
    top: 30vh;
    left: 35vw;
    width: 30vw;
    height: 40vh;
    background-color: #B2DFDB;
    border-radius: 10px;
    padding-left: 1vw;
    border-radius: 10px;
}